version: '3.8'

services:
  apichallenge:
    image: ${DOCKER_REGISTRY-}apichallenge
    build:
      context: .
      dockerfile: ApiChallenge/Dockerfile
    ports:
      - "5000:5000"
      - "5001:5001"

  challenge.database:
     image: postgres:16-alpine
     container_name: challenge.database
     environment:
       - POSTGRES_USER=postgres
       - POSTGRES_PASSWORD=postgres
       - POSTGRES_DB=postgres
     volumes:
       - ./.containers/postgresql:/var/lib/postgresql
     ports:
       - "5442:5432"
  
  challenge.cache:
     image: redis:latest
     restart: always
     ports:
       - "6379:6379"
  